html {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

    cursor: default;
}

body {
	overflow: hidden;
}

rect {
	fill: white;
	transition: 1s;
}

#gridContainer {
	display: grid;
    grid-template-columns: 5% 80% 10% 5%;
    grid-template-rows: 10% 30% 40% 20%;
 	/*background-color: yellowgreen;*/
    height: 100vh;
    width: 100vw;
}

#container {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    /*background-color: royalblue;*/
    padding: 0% 5%;
}

#menu {
	grid-column: 4 / 5;
	grid-row: 1 / 2;
	/*background-color: purple;*/
	justify-self: start;
	align-self: center;
}

#menu:hover #disappearingRect {
	opacity: 0;
}

#menu:hover #otherRect1 {
	transform: rotateZ(45deg) translateX(15px) translateY(-15px);
}

#menu:hover #otherRect2 {
	transform: rotateZ(-45deg) translateX(-50px) translateY(-10px);
}

#menu:hover {
	cursor: pointer;
}

#footer {
	grid-column: 1 / 5;
	grid-row: 4 / 5;
	/*background-color: purple;*/
	justify-self: center;
	align-self: center;
}

#footer > span {
	color: #292929;
}